.liste-tache {
  text-align: center;
}

.titre {
  color: yellow;
}

.filters label {
  margin-right: 180px;
}

.search-bar input {
  background-color: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/* .search-bar input::placeholder {
  color: red;
} */

.tache-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tache-table th, .tache-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tache-table th {
  background-color: #f2f2f2;
}

.modifier-link {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
}

.supprimer-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.supprimer-btn:hover {
  background-color: darkred;
}
/* -----------------------------------fin listTache */

.ajouter-tache-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkgreen;
}

/* -------------------------ajouterTAche  */

.modifier-tache-form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
/* -----------------------modifierTacher */












